.App {
    height: 100%;
    flex: 1;
}
.chat-body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex:1; 
}

.chat-form {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.chat-list {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.chat-bottom {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
}

/*  Message Item   */
.message-item {
    display: flex;
    flex-direction: column;
    align-self:flex-start;
    
    border: 1px solid black;
    border-radius: 7px;
    
    background: #dbdbdb;

    margin: 5px;
    padding: 5px;
    max-width: 50%;
}

.my-message {
    justify-content: right;
    align-self:flex-end;
}

.message-status {
   
    display: flex;

}
.message-point {
    margin-left: 3px;
    width: 8px;
    height: 8px;
    background: gray;
    border-radius: 50%;
}
.message-point.active {
    background: darkcyan;
}